.row.mt-2
    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        Edit News Item for = link_to @representative.name, representative_path(@representative.id)
        %br

    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        = render 'form_search', news_item: @news_item,
        form_url: representative_search_my_news_item_path(@representative),
        form_method: :get,
        representatives_list: @representatives_list,
        issues_list: @issues_list
